In [36]:
print('Weather Forecast Program')

Weather Forecast Program

In [37]:
# Importing Libraries
import numpy as np
import pandas as pd

In [38]:
# Reading Data from given CSV File
data = pd.read_csv("/Weather.csv")
data

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,1/1/2009 0:00,24,10,0,8.7,4,1,31,9:56 AM,9:45 PM,...,11,21,17,50,0.0,1015,11,10,320,10
1,1/1/2009 1:00,24,10,0,8.7,4,1,31,9:56 AM,9:45 PM,...,12,22,11,52,0.0,1015,11,10,315,11
2,1/1/2009 2:00,24,10,0,8.7,4,1,31,9:56 AM,9:45 PM,...,12,23,6,55,0.0,1015,11,10,310,11
3,1/1/2009 3:00,24,10,0,8.7,4,1,31,9:56 AM,9:45 PM,...,12,23,0,57,0.0,1015,10,10,304,12
4,1/1/2009 4:00,24,10,0,8.7,4,1,31,9:56 AM,9:45 PM,...,14,19,0,54,0.0,1016,11,10,302,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96427,1/1/2020 19:00,15,11,0,7.1,4,1,37,11:13 AM,11:00 PM,...,13,21,53,61,0.0,1019,13,8,74,11
96428,1/1/2020 20:00,15,11,0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,22,39,61,0.0,1020,13,9,81,11
96429,1/1/2020 21:00,15,11,0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,23,25,62,0.0,1020,13,10,88,11
96430,1/1/2020 22:00,15,11,0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,21,26,63,0.0,1020,13,10,85,11
96431,1/1/2020 23:00,15,11,0,7.1,4,1,37,11:13 AM,11:00 PM,...,12,20,27,64,0.0,1020,12,10,83,10

In [39]:
# Clearing out unnecessary columns from CSV File
data = data.drop(columns=["date_time", "precipMM", "moonset", "moonrise", "sunset", "sunrise"])
data

,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,24,10,0,8.7,4,1,31,2,11,12,11,21,17,50,1015,11,10,320,10
1,24,10,0,8.7,4,1,31,3,12,13,12,22,11,52,1015,11,10,315,11
2,24,10,0,8.7,4,1,31,4,12,13,12,23,6,55,1015,11,10,310,11
3,24,10,0,8.7,4,1,31,5,12,13,12,23,0,57,1015,10,10,304,12
4,24,10,0,8.7,4,1,31,5,14,14,14,19,0,54,1016,11,10,302,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96427,15,11,0,7.1,4,1,37,6,13,13,13,21,53,61,1019,13,8,74,11
96428,15,11,0,7.1,4,1,37,6,12,13,12,22,39,61,1020,13,9,81,11
96429,15,11,0,7.1,4,1,37,6,12,13,12,23,25,62,1020,13,10,88,11
96430,15,11,0,7.1,4,1,37,6,12,13,12,21,26,63,1020,13,10,85,11
96431,15,11,0,7.1,4,1,37,6,12,12,12,20,27,64,1020,12,10,83,10

In [57]:
# Defining a function that will work as classifier
def separator(temperature):
  if temperature < 10:
    return "Very Cold"
  elif temperature < 30:
    return "Normal"
  else:
    return "Very Hot"

In [41]:
# Applying Separator
data['maxtempC'] = data['maxtempC'].apply(separator)
data

,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,Normal,10,0,8.7,4,1,31,2,11,12,11,21,17,50,1015,11,10,320,10
1,Normal,10,0,8.7,4,1,31,3,12,13,12,22,11,52,1015,11,10,315,11
2,Normal,10,0,8.7,4,1,31,4,12,13,12,23,6,55,1015,11,10,310,11
3,Normal,10,0,8.7,4,1,31,5,12,13,12,23,0,57,1015,10,10,304,12
4,Normal,10,0,8.7,4,1,31,5,14,14,14,19,0,54,1016,11,10,302,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96427,Normal,11,0,7.1,4,1,37,6,13,13,13,21,53,61,1019,13,8,74,11
96428,Normal,11,0,7.1,4,1,37,6,12,13,12,22,39,61,1020,13,9,81,11
96429,Normal,11,0,7.1,4,1,37,6,12,13,12,23,25,62,1020,13,10,88,11
96430,Normal,11,0,7.1,4,1,37,6,12,13,12,21,26,63,1020,13,10,85,11
96431,Normal,11,0,7.1,4,1,37,6,12,12,12,20,27,64,1020,12,10,83,10

In [58]:
# Storing Max Temperature in y
y = data["maxtempC"]
y

0        Normal
1        Normal
2        Normal
3        Normal
4        Normal
          ...
96427    Normal
96428    Normal
96429    Normal
96430    Normal
96431    Normal
Name: maxtempC, Length: 96432, dtype: object

In [45]:
# Storing rest of data in x
x = data.drop("maxtempC",axis=1)
x

,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,10,0,8.7,4,1,31,2,11,12,11,21,17,50,1015,11,10,320,10
1,10,0,8.7,4,1,31,3,12,13,12,22,11,52,1015,11,10,315,11
2,10,0,8.7,4,1,31,4,12,13,12,23,6,55,1015,11,10,310,11
3,10,0,8.7,4,1,31,5,12,13,12,23,0,57,1015,10,10,304,12
4,10,0,8.7,4,1,31,5,14,14,14,19,0,54,1016,11,10,302,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96427,11,0,7.1,4,1,37,6,13,13,13,21,53,61,1019,13,8,74,11
96428,11,0,7.1,4,1,37,6,12,13,12,22,39,61,1020,13,9,81,11
96429,11,0,7.1,4,1,37,6,12,13,12,23,25,62,1020,13,10,88,11
96430,11,0,7.1,4,1,37,6,12,13,12,21,26,63,1020,13,10,85,11
96431,11,0,7.1,4,1,37,6,12,12,12,20,27,64,1020,12,10,83,10

In [46]:
from sklearn.model_selection import train_test_split
# Split the data into training and test sets, stratifying the target variable
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size=0.2, random_state=42)

In [48]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [49]:
# Train the model on the training data
model.fit(xTrain, yTrain)

GaussianNB()

In [51]:
yPrediction = model.predict(xTest)

In [53]:
from sklearn.metrics import classification_report

# Print the evaluation report
print(classification_report(yTest, yPrediction))

              precision    recall  f1-score   support

      Normal       0.79      0.93      0.86      5732
    Very Hot       0.97      0.90      0.93     13555

    accuracy                           0.91     19287
   macro avg       0.88      0.91      0.89     19287
weighted avg       0.92      0.91      0.91     19287

In [55]:
yPrediction

array(['Very Hot', 'Normal', 'Very Hot', ..., 'Normal', 'Very Hot',
       'Very Hot'], dtype='<U8')

In [56]:
from sklearn.metrics import accuracy_score
# Compute the accuracy of the predictions
accuracy = accuracy_score(yTest, yPrediction)
# Print the accuracy
print(accuracy)

0.9075024627987763